.main {
  position: relative;
}

.sidebar {
  width: 160px;
  position: absolute;
  text-align: center;
}

.sidebar .login {
  color: #DDD;
  padding: 20px;
  background-color: #33A;
  margin-bottom: 20px;
}

.sidebar .login a {
  color: #DDD;
}

.sidebar .new_issue{
  color: #DDD;
  padding: 20px;
  background-color: #33A;
}

.content {
  position: relative;
  left: 200px;
  padding-left: 20px;
}

.issues .issue {
  margin: 10px;
}

.issues .issue a {
  text-decoration: none;
}

.issues .issue .bar {
  display: inline-block;
  overflow: hidden;
  padding: 10px;
}

.issues .issue .first {
  background-color: #3A3;
  color: #FFF;
}
.issues .issue .second {
  background-color: #CCC;
  color: #333;
}



.chart-label {
  width: 150px;
  text-align: center;
}


.issue.content .info {
}

.issue.content div.votes {
  position: absolute;
  left: 300px;
  top: 0px;
}


table {
  border-spacing:0;
  border-collapse:collapse;
}

table td {
  border: solid 1px #EEE;
  padding: 5px;
}

