.main {
  position: relative;
}

.sidebar {
  width: 160px;
  position: absolute;
  text-align: center;
}

.sidebar .login {
  padding: 20px;
  background-color: #AAD;
  margin-bottom: 20px;
}

.sidebar .new_issue{
  padding: 20px;
  background-color: #AAD;
}

.content {
  position: relative;
  left: 200px;
  padding-left: 20px;
}

.issues .issue {
  margin: 10px;
}

.issues .issue a {
  text-decoration: none;
}

.issues .issue .bar {
  color: #FFF;
  display: inline-block;
  overflow: hidden;
  padding: 10px;
}

.issues .issue .first {
  background-color: #3A3;
}
.issues .issue .second {
  background-color: #CCC;
}



.chart-label {
  width: 150px;
  text-align: center;
}