
  <div class="sidebar">
    <ng-include src="'/partials/login.html'"></ng-include>
    <div><a href="/">Back to Issues</a></div>
    <br />
    <div ng-click="remove()"><button>Delete Issue</button></div>
  </div>

  <div class="content issue">
    <h1><span>{{issue.first.name}}</span> VS <span>{{issue.second.name}}</span></h1> 

    <div class="info">
      <div pie-chart first="issue.first.votes" second="issue.second.votes"></div> <h3 class="chart-label">{{issue.first.name}}</h3>

      <div class="castVote" ng-show="auth.loggedIn">
        <button ng-click="vote(issue.first)">Vote {{issue.first.name}}</button>
        <button ng-click="vote(issue.second)">Vote {{issue.second.name}}</button>
      </div>
    </div>

    <div class="votes">
      <h2>{{issue.votes.length}} Votes</h2>
      <table class="votes">
        <tr><th>User</th><th>Voted</th><th>When</th></tr>
        <tr class="vote" ng-repeat="vote in issue.votes | orderBy:'-created'">
          <td>{{vote.username}}</td>
          <td>{{vote.name}}</td>
          <td>{{vote.created | ago}}</td>
        </tr>
      </table>
    </div>

  </div>